In [24]:
import pandas as pd
import numpy as np

In [36]:
df = pd.read_csv('carfax_toyota.csv')

In [37]:
df.head()

,Unnamed: 0,Year,Brand,Model,Cost,City,State,Mileage,Accident,Body,Engine,Owners,Usefor,Services
0,0,2020,Toyota,Sienna_LE,33988,Pompton Plains,NJ,15670,No Accident or Damage Reported,Minivan,Silver_Engine:_6_Cyl_3.5_L_,CARFAX 1-Owner,Corporate Use,1
1,1,2018,Toyota,RAV4_SE,28995,Newton,NJ,28243,No Accident or Damage Reported,SUV,Gray_Engine:_4_Cyl_2.5_L_,CARFAX 1-Owner,Personal Use,6
2,2,2019,Toyota,Camry_LE,19895,Union,NJ,58793,Damage Reported,Sedan,White_Engine:_4_Cyl_2.5_L_,CARFAX 1-Owner,Personal Use,0
3,3,2020,Toyota,GR_Supra_Premium,55795,Yonkers,NY,909,No Accident or Damage Reported,Coupe,6_Cyl_3.0_L_,CARFAX 1-Owner,Personal Use,7
4,4,2021,Toyota,GR_Supra_Premium,55900,Kearny,NJ,2700,No Accident or Damage Reported,Coupe,Black_Engine:_6_Cyl_3.0_L_,CARFAX 1-Owner,Personal Use,2

In [27]:
df = df[['Year','Brand','Model','Cost','City','State','Mileage','Body','Engine']]

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1248 entries, 0 to 1247
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     1248 non-null   int64
 1   Brand    1248 non-null   object
 2   Model    1248 non-null   object
 3   Cost     1248 non-null   int64
 4   City     1248 non-null   object
 5   State    1248 non-null   object
 6   Mileage  1248 non-null   int64
 7   Body     1248 non-null   object
 8   Engine   1248 non-null   object
dtypes: int64(3), object(6)
memory usage: 87.9+ KB

In [30]:
df.head()

,Year,Brand,Model,Cost,City,State,Mileage,Body,Engine
0,2018,Toyota,RAV4_SE,28995,Newton,NJ,28243,SUV,Gray_Engine:_4_Cyl_2.5_L_
1,2019,Toyota,Camry_LE,19895,Union,NJ,58793,Sedan,White_Engine:_4_Cyl_2.5_L_
2,2020,Toyota,GR_Supra_Premium,55795,Yonkers,NY,909,Coupe,6_Cyl_3.0_L_
3,2021,Toyota,GR_Supra_Premium,55900,Kearny,NJ,2700,Coupe,Black_Engine:_6_Cyl_3.0_L_
4,2018,Toyota,Camry_LE,19900,Lakewood,NJ,52914,Sedan,Gray_Engine:_4_Cyl_2.5_L_

In [34]:
df['Body'].value_counts()

SUV          600
Sedan        352
Pickup       178
Minivan       75
Hatchback     22
Coupe         15
Wagon          6
Name: Body, dtype: int64